*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.first{
    width: 100%;
    height: 100vh;
    position: relative;
}
.first video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 15;
}
.firstbody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.556);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.firstbody .title{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #fff;
    font-size: 60px;
}
.firstbody .subtitle{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.wrapper{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}
.wrapper p{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

